// Colors
$bg-navy: #21202D;
$green: #009886;
$lavender: #7386C2;
$orange: #EEAF5E;
$pink: #F39DC0;

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

