@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #21202D;
  min-width: 320px;
}

.eng {
  font-family: 'Montserrat', sans-serif;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #21202D;
  padding: 7% 10%;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}

#main #greeting h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  word-break: keep-all;
}

#main #greeting h1 span {
  color: #009886;
}

#main #greeting .icons {
  width: 100%;
  margin-top: 24px;
}

#main #greeting .icons svg {
  width: 38px;
}

#main #greeting .icons svg.mail {
  padding: 0 0 5px 16px;
}

#main #menu {
  position: relative;
  top: 120px;
}

#main #menu .menuBox {
  width: 25%;
  float: left;
  position: relative;
  cursor: pointer;
}

#main #menu .menuBox p {
  color: #fff;
  opacity: .4;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  right: 8px;
  bottom: 80px;
  z-index: 2;
}

#main #menu .menuBox svg {
  position: relative;
}

#main #menu .menuBox svg#blobSvg_about {
  display: block;
}

#main #menu .menuBox svg#blobSvg_design {
  display: block;
}

#main #menu .menuBox svg#blobSvg_projects {
  display: block;
}

#main #menu .menuBox svg#blobSvg_contact {
  display: block;
}

#main #menu .menuBox:hover p {
  font-weight: 900;
  opacity: 1;
}

#menuBar {
  width: 100%;
}

#menuBar #back {
  width: 50px;
  height: 50px;
  z-index: 1000;
  display: none;
  float: left;
}

#menuBar #back i {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

#menuBar #back i.arrow-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12H6M6 12L12 6M6 12L12 18' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#menuBar #back i.arrow-lavender {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12H6M6 12L12 6M6 12L12 18' stroke='%237386C2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#menuBar #back i.arrow-orange {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12H6M6 12L12 6M6 12L12 18' stroke='%23EEAF5E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#menuBar #back i.arrow-pink {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12H6M6 12L12 6M6 12L12 18' stroke='%23F39DC0' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#menuBar #back i.arrow-green {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12H6M6 12L12 6M6 12L12 18' stroke='%23009886' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#menuBar p {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  line-height: 37px;
  float: left;
}

#menuBar p.title-about {
  color: #7386C2;
}

#menuBar p.title-design {
  color: #EEAF5E;
}

#menuBar p.title-project {
  color: #F39DC0;
}

#about {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #21202D;
  padding: 7% 10%;
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#about .about__box {
  width: 100%;
  clear: both;
  padding: 40px 20px 0;
  word-break: keep-all;
}

#about .about__box p {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  line-height: 25px;
}

#about .about__box p span {
  font-weight: 500;
  color: #EEAF5E;
}

#about .about__box-work {
  width: 50%;
  float: left;
}

#about .about__box-work h3 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 26px;
}

#about .about__box-work p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 4px 0;
}

#about .about__box-work p span {
  color: #7386C2;
  font-weight: 600;
  cursor: pointer;
}

#about .about__box-skills {
  width: 50%;
  float: left;
}

#about .about__box-skills ul li {
  float: left;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px 10px;
  margin: 0 6px 6px 0;
  cursor: pointer;
}

#about .about__box-skills ul li svg {
  width: 18px;
  height: auto;
  float: left;
}

#about .about__box-skills ul li p {
  font-size: 15px;
  font-weight: 400;
  float: left;
  line-height: 16px;
  padding-left: 8px;
}

#about .about__box-skills .about__box-skills-lang {
  width: 100%;
  height: auto;
}

#about .about__box-skills .about__box-skills-lang h3 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px;
}

#about .about__box-skills .about__box-skills-tools {
  width: 100%;
  height: auto;
  clear: both;
  padding-top: 26px;
}

#about .about__box-skills .about__box-skills-tools h3 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px;
}

#design {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 100px 160px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#design ul {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

#design ul li {
  width: 33.3%;
  padding: 12px;
  margin-bottom: 10px;
  float: left;
}

#design ul li:nth-child(1) a {
  background-image: url(../src/design/01.jpg);
  background-position: center bottom;
}

#design ul li:nth-child(2) a {
  background-image: url(../src/design/02.jpg);
  background-position: center top;
}

#design ul li:nth-child(3) a {
  background-image: url(../src/design/03.jpg);
  background-position: center top;
}

#design ul li:nth-child(4) a {
  background-image: url(../src/design/04.jpg);
  background-position: center 3%;
}

#design ul li:nth-child(5) a {
  background-image: url(../src/design/05.jpg);
  background-position: center top;
}

#design ul li:nth-child(6) a {
  background-image: url(../src/design/06.jpg);
  background-position: center 20%;
}

#design ul li a {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-size: cover;
}

#design ul li h2 {
  color: #EEAF5E;
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 8px;
}

#design ul li p {
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

#projects {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 100px 160px 0;
  z-index: 5;
}

#projects ul {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

#projects ul li {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  float: left;
}

#projects ul li:nth-child(1) a {
  background-image: url("../src/projects/leaders.png");
  background-position: center 35%;
}

#projects ul li:nth-child(2) a {
  background-image: url("../src/projects/philips.png");
  background-position: center 0;
}

#projects ul li a {
  display: block;
  width: 45%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-size: cover;
  float: left;
}

#projects ul li .info {
  width: 55%;
  height: auto;
  float: left;
  padding: 6px 50px;
  color: #fff;
}

#projects ul li .info h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

#projects ul li .info .info__box p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

#projects ul li .info button {
  margin-top: 36px;
  padding: 12px 60px;
  border-radius: 3px;
  border: none;
  background-color: #F39DC0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all .3 ease-in-out;
  transition: all .3 ease-in-out;
}

#projects ul li .info button:hover {
  color: #21202D;
  font-weight: 700;
}

#projects ul li .info button a {
  background-image: none;
  height: auto;
  border: none;
}

#contact {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 7% 10%;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  z-index: 5;
}

#contact .imgimg {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background-image: url(../src/contact/profile.jpg);
}

#contact .contact__image {
  margin: 100px auto 0;
  width: 320px;
  height: 320px;
  border-radius: 126px;
  background-image: url(../src/contact/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 66%;
  -webkit-box-shadow: 10px 5px 0px #009886;
          box-shadow: 10px 5px 0px #009886;
}

#contact h3 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 60px;
  color: #009886;
}

#contact .contact__info {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

#contact .contact__info p.copyright {
  margin: 20px 0;
}

@media (min-width: 758px) and (max-width: 1023px) {
  #main {
    padding: 10% 5%;
  }
  #main #menu {
    top: 80px;
  }
  #main #menu .menuBox {
    width: 40%;
  }
  #main #menu .menuBox:nth-child(3) {
    position: relative;
    left: 140px;
  }
  #main #menu .menuBox:nth-child(4) {
    position: relative;
    left: 170px;
  }
  #about {
    padding: 10% 5%;
  }
  #about .about__box .about__box-work {
    margin-top: 50px;
    padding-right: 18px;
  }
  #about .about__box .about__box-skills {
    margin-top: 50px;
  }
  #design {
    padding: 10% 5%;
  }
  #design ul li {
    width: 50%;
  }
  #projects {
    padding: 10% 5%;
  }
  #projects ul li {
    margin-bottom: 46px;
  }
  #projects ul li a {
    width: 100%;
  }
  #projects ul li .info {
    width: 100%;
    margin: 0 auto;
    padding: 42px 0 0;
    text-align: center;
  }
  #projects ul li .info h2 {
    font-size: 24px;
  }
  #projects ul li .info button {
    margin-top: 20px;
  }
}

@media (min-width: 335px) and (max-width: 757px) {
  #main {
    padding: 10% 5%;
  }
  #main #greeting h1 {
    font-size: 42px;
    line-height: 54px;
  }
  #main #greeting .icons svg {
    width: 36px;
  }
  #main #menu {
    top: 50px;
  }
  #main #menu .menuBox {
    width: 50%;
  }
  #main #menu .menuBox p {
    font-size: 26px;
    right: 0;
    bottom: 50px;
  }
  #about {
    padding: 10% 5%;
  }
  #about .about__box {
    padding: 40px 4px 0;
  }
  #about .about__box p {
    font-size: 16px;
    line-height: 22px;
  }
  #about .about__box .about__box-work {
    width: 100%;
    margin-top: 50px;
  }
  #about .about__box .about__box-skills {
    width: 100%;
    margin-top: 50px;
  }
  #design {
    padding: 10% 5% 0;
  }
  #design ul li {
    width: 100%;
  }
  #projects {
    padding: 7% 5%;
  }
  #projects ul li {
    margin-bottom: 46px;
  }
  #projects ul li a {
    width: 100%;
  }
  #projects ul li .info {
    width: 100%;
    margin: 0 auto;
    padding: 42px 0 0;
    text-align: center;
  }
  #projects ul li .info .info__box p {
    font-size: 14px;
    line-height: 20px;
  }
  #projects ul li .info h2 {
    font-size: 20px;
  }
  #projects ul li .info button {
    margin-top: 20px;
  }
  #contact {
    padding: 7% 5%;
  }
}
/*# sourceMappingURL=style.css.map */